@import url('~bulma/css/bulma.css');

body,
.footer,
.section {
  color: #fff;
  background: #42afe3;
}

.dropdown-content {
  text-align: left;
  color: #333;
  padding: 10px;
}

.is-white {
  color: #fff;
}

.is-black {
  color: #000;
}

.input-custom {
  width: 100%;
  align-items: center;
  display: inline-flex;
}

.footer {
  padding-bottom: 0;
}

body .footer a,
body .footer a:hover,
body .footer a:visited {
  color: #fff;
  text-decoration: none;
  border: none;
}